NEXT_PUBLIC_SUPABASE_URL=https://hakoofsoytofmrxyvspz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhha29vZnNveXRvZm1yeHl2c3B6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2NDA3NDEsImV4cCI6MjA3MTIxNjc0MX0.GuZJVDL7r2x9fIgj5QkEjY63R3fSUxrdOLxHAYo1cSs
